extends layout

block content
  .container
    .entries.clearfix
      each item in results
        .entry.float-left
          a(href="#{item.link}")
            img(src="#{item.image}")
            p= item.name
