body {
  font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.full-width {
  width: 100%;
}
.header {
  height: 100px;
}
.logo {
  position: relative;
  top: -10px;
  margin-right: 10px;
}
.header a {
  text-decoration: none;
}
.entries {
  border-top: 5px solid #F2F2F2;
  min-height: 400px;
  margin-bottom: 20px;
}
.entry {
  margin: 5px;
  text-align: center;
}
.float-left {
  float: left;
}
