body {
  font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.full-width {
  width: 100%;
}
.header a {
  text-decoration: none;
}
.entries {
  margin-top: -15px;
  border-top: 5px solid #F2F2F2;
  min-height: 400px;
  margin-bottom: 20px;
}
