.container
  .header.clearfix
    h1: a(href="/") Mithila

    .nav
      input(type="checkbox", id="toggle")
      label.toggle(for="toggle", data-open="Main Menu", data-close="Close Menu", onclick)
      ul.menu
        li: a(href="#") Sworga Se
        li: a(href="#") Sundar
        li: a(href="#") Mithila
